@model Blog.Models.ViewModels.RegisterViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            <h1 class="mt-3 mb-3 h3">
                Register
            </h1>

            <form method="post">

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" asp-for="UserName">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" asp-for="Email">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" asp-for="Password">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Criar</button>
                </div>

            </form>

        </div>
    </div>
</div>